<div class="container-fluid">
  <div class="row" style="margin: 3% 0 5% 2%;">
    <div class="col-md-12">
      <h1 style="color:#3754d6;">About Titans Automobile Showroom</h1>
    </div>
    <div class="col-md-12">
      <div style="color:#3754d6;">
        <h4>Our Vision</h4>
      </div>
      <div>
        <p class="vision_para"><b class="opn_quote">“</b> To provide our customers with the ultimate automobile shopping experience, where they can find their dream car or bike with ease and confidence. We aim to be the most trusted and customer-centric automobile showroom in Hyderabad, offering a seamless and personalized buying journey. <b class="clos_quote">”</b></p>
      </div>
    </div>
    <div class="col-md-6" style="padding: 10px;">
      <h4>Our History:</h4>
      <p>Titans Automobile Showroom was established in January 2023 with the aim of providing the people of GTA with the best options when it comes to buying cars and bikes. Our focus is on providing honest and transparent services to our customers, giving them professional support and service to make the best decision, and to encourage them to choose the automobile of their dreams.</p>
    </div>
    <div class="col-md-6" style="padding: 10px;">
      <h4>What Sets Us Apart:</h4>
      <ul>
        <li><b>Assured Quality:</b> We stock only the highest quality vehicles. Any new products go through a quality screening before making an appearance on the showroom floor.</li>
        <li><b>We Ride:</b> All of us are passionate about bikes and cars. If you need more specific info about one of our products, give us a shout. Chances are that one of us is already using the same.</li>
        <li><b>Honest Advice:</b> We will never push a vehicle to you unless it's the right one. That's what we hated most, and that was one of the things that prompted us to open Titans Automobile Showroom.</li>
        <li><b>Demo Vehicles:</b> We believe that you must test drive the vehicles to ensure that it's the right one for you. So, we have dedicated vehicles for test drives that can be taken for a more substantial ride.</li>
        <li><b>Vehicle Fit:</b> The right fit can make a big difference in comfort, efficiency, and injury prevention. We offer 'Vehicle Fit' as a service and have a dedicated fitment center at our showroom.</li>
        <li><b>Support and Service:</b> We realize your vehicle purchase is only the beginning of your experience of fun, fitness, and recreation. In recognition of this, with the purchase of every vehicle, you will receive 6 months of free servicing. We also have our weekly drives to help you enjoy the whole experience. Our monthly tech sessions are designed to make you more hands-on.</li>
      </ul>
    </div>
  </div>
</div>
