body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.center{
  font-size:24px;
  font-style:italic;
  padding:10px 201px !important;
}

.card {
  display:inline-block;
  width: 20rem;
  margin-top: 40px;
}

.rating{
  color: gold;
}

.card-author{
  color:lightskyblue;
}

footer{
  padding-top: 30px;
  
  color: black;
  font-size: large;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 .center{
  font-size:24px;
  font-style:italic;
  padding:10px 10px !important;
 }
 ul{
   text-align: center !important;
 }
}