<!-- header -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> Titans AutoMobiles </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="list">Bike List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cars">Car List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="accessory">Accessories List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="scooters">Scooter List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

<!-- body -->
<router-outlet></router-outlet>

<!-- footer -->

<footer class="bg-dark text-white py-5">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <p class="mb-0">205 Humber College Blvd, Etobicoke, Ontario</p>
        <p class="mb-0">
          <a href="mailto:titansautomobiles@gmail.com"
            >titansautomobiles@gmail.com</a
          >
        </p>
        <hr class="my-4" />

        <p class="mt-3 mb-0">© 2023 Titans AutoMobile. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
