extends layout 

block content
    .container-fluid(style="color:black;")
        br
        br
        br
        
        h2 Create New Bike
        #banner.page-header
        br
        //- form
        .row
            .col-md-4
                form(method='post' action='' role='form')
                    .form-group
                        label(for='name') Name:
                        input.form-control(type='text' name='name' )
                    .form-group
                        label(for='description') Description:
                        input.form-control(type='text' name='description' )
                    .form-group
                        label(for='model')  Model :
                        input.form-control(type='text' name='model'  )
                    .form-group
                        label(for='seats')  Seats :
                        input.form-control(type='text' name='seats' )
                    .form-group
                        label(for='launchYear') Launch Year :
                        input.form-control(type='text' name='launchYear')
                    .form-group
                        label(for='image')  Image :
                        input.form-control(type='text' name='image' )
                    .form-group
                        label(for='color') Color :
                        input.form-control(type='text' name='color' )
                    .form-group
                        label(for='price') Price :
                        input.form-control(type='text' name='price' )
                    .form-group
                        label(for='brand') Brand :
                        input.form-control(type='text' name='brand' )
                    .form-group
                        label(for='rating') Rating :
                        select#rating.form-control.input-sm(name="rating")
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                    br 
                    button.btn.btn-primary(type='submit') Submit